@import "tailwindcss";

/* Font Face Declarations */
@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/Bricolage_Grotesque/BricolageGrotesque-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/Bricolage_Grotesque/BricolageGrotesque-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/Bricolage_Grotesque/BricolageGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/Bricolage_Grotesque/BricolageGrotesque-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/Bricolage_Grotesque/BricolageGrotesque-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/outfit/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/outfit/Outfit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/outfit/Outfit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/outfit/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/outfit/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --ut-orange: #FF8811;
  --jasmine: #F4D06F;
  --floral-white: #FFF8F0;
  --space-cadet: #392F5A;
  --persian-indigo: #27187E;
  --cornflower-blue: #758BFD;
  --periwinkle: #AEB8FE;
  --antiflash-white: #F1F2F6;
}

@theme {
  --color-persian-indigo: #27187E;
  --color-cornflower-blue: #758BFD;
  --color-periwinkle: #AEB8FE;
  --color-antiflash-white: #F1F2F6;
}


body {
  font-family: 'Bricolage Grotesque', sans-serif;
  background-color: var(--floral-white);
  color: var(--space-cadet);
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}

.MAXWIDTH {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}


input {
  padding: 0.5rem;
  outline: none;
}

@media screen and (max-width: 768px) {
  .MAXWIDTH {
    padding-left: 14px;
    scale: 90%;
  }  
}